# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Cargo.lock
Cargo.lock

# Build results
target/

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok

# contract artifacts
**/artifacts

# contract intermediate schemas
**/raw

# zip
*.zip