[package]
name = "provwasm-std"
version = "0.14.0"
authors = ["David Pederson <dpederson@figure.com>", "Ken Talley <ktalley@figure.com>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/provenance-io/provwasm/tree/main/packages/bindings"
description = "Rust bindings that enable CosmWasm smart contracts to interact with custom modules in the Provenance Blockchain"
keywords = ["provenance", "blockchain", "smart-contracts", "defi", "finance"]
categories = ["api-bindings", "cryptography::cryptocurrencies", "wasm"]

[features]
backtraces = []

[dependencies]
cosmwasm-std = { version = "0.14.0-beta5", features = ["staking"] }
schemars = "0.8.1"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }

[dev-dependencies]
cosmwasm-schema = { version = "0.14.0-beta5" }
