[package]
name = "provwasm-proc-macro"
version = "0.3.1"
repository = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = ["Ken Talley <4344285+kwtalley@users.noreply.github.com"]
description = "Rust macros that simplify query and response types for Provenance Blockchain smart contracts"
keywords = ["provenance", "blockchain", "smart-contracts", "defi", "finance"]
categories = ["api-bindings", "cryptography::cryptocurrencies", "wasm"]

[lib]
proc-macro = true

[dependencies]
itertools = "0.14.0"
proc-macro2 = "1.0.103"
quote = "1.0.42"
syn = "2.0.109"
